/* div{
    height: 200px;
    width: 200px;
    background-color: blue;
    transition-duration: 3s;
    margin: 60px;
} */
div:hover{
    /* transform: translate(20px, 30px); */
    /* transform: translateX(20px); */
    /* transform: translateY(30px); */
}

div:hover{
    /* transform: skew(30deg, 40deg); */
    /* transform: skewX(30deg); */
    /* transform: skewY(30deg); */
}

div:hover{
    /* transform: rotate(45deg); */
    /* transform: rotate(-360deg); */
    /* transform: rotateX(360deg); */
    /* transform: rotateY(360deg); */
}

div:hover{
    /* transform: scale(1.2, 1.4); */
    /* transform: scaleX(1.2); */
    /* transform: scaleY(1.2); */
}

/* img{
    transition-duration: 3s;
}

img:hover{
    transform: scale(1.2);
}

.container div{
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: space-between;
} */

/* div{
    height: 200px;
    width: 200px;
    background-color: blue;
    animation-name: colors;
    animation-duration: 3s;
    animation-iteration-count: infinite; */
/* } */

/* @keyframes colors{
    from{
        background-color: blue;
    }
    to{
        background-color: red;
    }
} */

/* @keyframes colors{
    0%{
        background-color: blue;
    }
    50%{
        background-color: green;
    }
    100%{
        background-color: red;
    }
} */

div{
    border: 2px solid grey;
    height: 20px;
    width: 20px;
    border-top: 2px solid blue;
    border-radius: 100%;
    animation-name: loader;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 